<!DOCTYPE html>
<html lang="en">
<head>
  <title>URLIndex-TinyApp</title>
  <style type="text/css">
      div {
        display: inline-block;
      }
      .delete{
        width: 50px;
        padding: 15px;
      }
  </style>
</head>
<body>
  <% include partials/_header %>
  <ul>
    <% for(var url in urls) { %>
      <% var deleteURL = '/urls/'+ url + '/delete' %>
      <% var editURL = '/urls/'+ url %>
      <br>
      <form method="POST" action= <%= deleteURL %>>
        <div>
          <%= url %> &rarr; <a href=<%= urls[url] %> ><%= urls[url] %></a> &nbsp <a href=<%= editURL %> >Edit</a> &nbsp
        </div>
        <input class="delete" type="submit" value="Delete">
      </form>
    <% } %>
      <br>
      <form method="GET" action="/urls/new">
        <input type="submit" value="Create a New Short link">
      </form>
  </ul>
</body>
</html>


